.note-input {
  margin: 0 auto;
  max-width: 720px;
}

.note-input > h2 {
  text-align: center;
}

.note-char-left {
  text-align: right;
  color: rgba(0, 0, 0, 0.3);
}

.note-char-left.danger {
  color: red;
}

.note-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.note-form > * {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.note-form > input,
.note-form > textarea {
  font-size: 1rem;
  outline: none;
}

.note-form > input {
  margin-top: 0.5rem;
}

.note-form > textarea {
  min-width: 100%;
  min-height: 240px;
  resize: none;
  transition: all 300ms ease;
}

.note-form > button {
  color: white;
  background-color: slategray;
  cursor: pointer;
}
