* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(227, 231, 238);
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  color: white;
  background-color: slategray;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

button {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.searchBar {
  width: 100%;
  max-width: 360px;
  padding: 0.5rem 0.75rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}

div.danger {
  color: red;
}
