* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(227, 231, 238);
}

h1,
h2,
h3 {
  margin: 0;
}

header {
  color: white;
  background-color: slategray;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.searchBar {
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
}
