* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin: 0;
}

main {
  /* border: 2px solid red; */
}

header {
  color: white;
  background-color: slategray;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.searchBar {
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
}
